@charset "utf-8";

/* CSS Document */

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
  &:hover, &:focus {
    color: #3397db;
    text-decoration: none;
  }
  img {
    border: none 0px #fff;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  width: 100%;
}

.skip-link {
  position: absolute;
  top: -140px;
  left: 0;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
  &:focus {
    top: 0;
  }
}

/* ====================== Navigation ====================== */
header {
  top: 0;
  z-index: 1;
  position: fixed;
  nav {
    width: 100%;
    height: 80px;
    background-color: #252831;
    text-align: center;
    position: fixed;
    h1 {
      margin: 0 auto;
      padding-top: 20px;
      a {
        color: #fff;
        font-size: 14pt;
        font-weight: 200;
        letter-spacing: 10px;
        text-transform: uppercase;
      }
    }
  }
  #breadcrumb {
    list-style: none;
    background-color: #bbb;
    font-size: 17px;
    margin: 80px 0 0;
    width: calc(100% - 40px);
    position: fixed;
    padding: 10px 20px;
    li {
      display: inline;
      + li:before {
        padding: 8px;
        color: black;
        content: "/\00a0";
      }
      li:first-child {
        padding-left: 40px;
      }
      a {
        color: #0275d8;
        text-decoration: none;
        &:hover {
          color: #01447e;
          text-decoration: underline;
        }
      }
    }
  }
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* ====================== Map ====================== */
  #map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
    margin-top: 80px;
  }

  /* ====================== Restaurant Filtering ====================== */
  .filter-options {
    width: 100%;
    height: 150px;
    background-color: #3397DB;
    align-items: center;
    h2 {
      color: #ffffff;
      background-color: #005e8f;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1;
      margin: 14px 0;
      padding: 5px 20px;
    }
    select {
      background-color: white;
      border: 1px solid #fff;
      font-family: Arial,sans-serif;
      font-size: 11pt;
      height: 35px;
      letter-spacing: 0;
      margin: 10px;
      padding: 0 10px;
      width: 200px;
      border-radius: 5px;
    }
  }
  /* ====================== Restaurant Listing ====================== */
  #restaurants-list {
    width: 100%;
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 0 60px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    li {
      background-color: #fff;
      border: 2px solid #ccc;
      font-family: Arial,sans-serif;
      margin: 15px auto;
      min-height: 380px;
      padding: 25px 30px;
      text-align: left;
      width: 270px;
      border-radius: 25px 0;
      /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08); */
      box-shadow: 12px 10px 15px 0px rgba(46, 61, 73, 0.37);
    }
    .restaurant-img {
      background-color: #ccc;
      /* display: block; */
      margin: 0;
      max-width: 100%;
      min-height: 248px;
      min-width: 100%;
    }
    li h1 {
      color: #b56000;
      font-family: Arial,sans-serif;
      font-size: 14pt;
      font-weight: 200;
      letter-spacing: 0;
      line-height: 1.3;
      margin: 20px 0 10px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-size: 11pt;
    }
    li a {
      background-color: #7d4f00;
      border-bottom: 3px solid #eee;
      color: #fff;
      display: inline-block;
      font-size: 11pt;
      margin: 15px 0 0;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      &:hover {
        color: #0f0;
      }
    }
  }
  /* ====================== Restaurant Details ====================== */
  #restaurant-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 15px 25px;
    width: 100%;
    #restaurant-name {
      color: #f18200;
      font-family: Arial,sans-serif;
      font-size: 20pt;
      font-weight: 200;
      letter-spacing: 0;
      margin: 15px 0 30px;
      text-transform: uppercase;
      line-height: 1.1;
    }
    #restaurant-img {
      width: 100%;
    }
    #restaurant-cuisine {
      background-color: #333;
      color: #ddd;
      font-size: 12pt;
      font-weight: 300;
      letter-spacing: 10px;
      margin: 0 0 20px;
      padding: 2px 0;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    #restaurant-address {
      font-size: 12pt;
      margin: 10px 0px;
    }
    #restaurant-hours td {
      color: #666;
    }
  }

  #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 15px;
    width: 100%;
    padding: 30px 25px 80px;
    h2 {
      color: #f58500;
      font-size: 24pt;
      font-weight: 300;
      letter-spacing: -1px;
      padding-bottom: 1pt;
    }
    /* ====================== Review Card Style ====================== */
    #reviews-list {
      margin: 0;
      padding: 0;
      li {
        background-color: #fff;
        border: 2px solid #c3c3c3;
        list-style-type: none;
        margin: 0 auto 30px;
        overflow: hidden;
        position: relative;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 25px 0;
        .reveiw-header {
          display: inherit;
          padding: 10px 20px;
          width: 100%;
          background-color: #333;
          height: 30px;
          h3 {
            color: white;
            width: 50%;
            font-size: 20px;
            margin: 0;
          }
          p {
            font-size: 14px;
            text-align: right;
            text-shadow: 0px 3px 1px rgba(0, 0, 0, 1);
            color: #afafaf;
          }
        }
        .review-content {
          display: inline-block;
          padding: 0 20px 20px;
          width: 100%;
          p:first-child {
            width: 30%;
            text-transform: uppercase;
            color: #ffffff;
            background-color: #ffa500;
            border-radius: 3px;
            padding: 4px 10px;
            text-align: center;
          }
          p {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

#footer {
  background-color: #444;
  color: #e0e0e0;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Inside the Restaurant ====================== */
.inside {
  #map-container {
    #map {
      background-color: #ccc;
      height: 200px;
      width: 100%;
      margin-top: 125px;
    }
  }
}

/* Mobile layout */
@media screen and (max-width: 375px) {
  header {
    nav {
      h1 {
        padding-top: 10px;
      }
    }
  }
}
@media screen and (max-width: 450px) {}

@media screen and (min-width: 451px) {
  /* ====================== Restaurant Filtering ====================== */
  #maincontent {
    .filter-options {
      height: 90px;
    }
    /* ====================== Restaurant Filtering ====================== */
    #reviews-list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 730px) {
  /* ====================== Restaurant Listing ====================== */
  #maincontent {
    #restaurants-list li {
      margin: 15px auto;
    }
  }
}
